

.calculator__wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto;
   background-color: var(--bg-main-screen);
   height: 100vh;
}

.calculator__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 33rem;
   zoom: .9;

   button {
      background-color: var(--key-bg--2);
      box-shadow: 0px 5px 0px var(--key-shadow--2);
      border: none;
      border-radius: .8rem;
      color: var(--txt-btn);
      height: 5rem;
      margin: 1rem;
      flex: 1 1 5rem;
      font-size: 3rem;
      line-height: 5.7rem;
      text-transform: uppercase;

      &.btn-del-reset {
         background-color: var(--key-bg--1);
         box-shadow:  0px 5px 0px var(--key-shadow--1);
         color: var(--txt-white);
         font-size: 2.8rem;

         &:hover {
            background-color: var(--key--delReset--hover);
         }
      }

      &.btn-Equals {
         background-color: var(--key-bg--toggle);
         box-shadow:  0px 5px 0px var(--key-equal-shadow-toggle--1);
         color: var(--txt-equal);
         font-size: 2.8rem;

         &:hover {
            background-color: var(--key--equal--hover);
         }
      }

      &.btn-multip {
         position: relative;
         color: var(--key-bg--2);

         &:hover {
            color: var(--key--hover); 
         }

         &:after {
            content: 'x';
            display: flex;
            color: var(--txt-btn);
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            text-transform: lowercase;
         }
      }

      &:hover {
         background-color: var(--key--hover);
      }
   }

   input[type="text"] {
      background-color: var(--bg-toggle-screen);  
   }
     
   @include media-breakpoint-up(sm) {
      width: 52rem;
      margin: 2rem 0 0 0;

      button {
         flex: 1 1 9rem;
         font-size: 4rem;
         height: 5.7rem;
      }
   }
}

.calculatorNB__container {
   display: flex;
   align-content: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: var(--bg-toggle-screen);
   margin-top: 2.5rem;
   padding: 1rem;
   border-radius: 1rem;
}
