// var-custom.scss -- Variables for project

// Calculator Theme
.th1 {
  // #### Backgrounds
  --bg-main-screen: hsl(222, 26%, 31%);
  --bg-toggle-screen: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);

  // #### Keys
  --key-bg--1: hsl(225, 21%, 49%);
  --key-shadow--1: hsl(224, 28%, 35%);

  --key-bg--toggle: hsl(6, 63%, 50%);
  --key-bg--toggle-hover: hsl(25, 98%, 40%);

  --key-bg--2: hsl(30, 25%, 89%);
  --key-shadow--2: hsl(28, 16%, 65%);
  --key--hover: hsl(0, 0%, 100%);
  --key--delReset--hover: hsl(222, 51%, 75%);
  --key-equal-shadow-toggle--1: hsl(6, 70%, 34%);
  --key--equal--hover: hsl(6, 95%, 67%);

  // #### Text
  --txt-color-1: hsl(221, 14%, 31%);
  --txt-color-2: hsl(0, 0%, 100%);
  --txt-equal: hsl(0, 0%, 100%);
  --txt-white: hsl(0, 0%, 100%);
  --txt-btn:  hsl(221, 14%, 31%);
}
.th2 {
  // #### Backgrounds
  --bg-main-screen: hsl(0, 0%, 90%);
  --bg-toggle-screen: hsl(0, 5%, 81%);
  --bg-screen: hsl(0, 0%, 93%);

  // #### Keys
  --key-bg--1: hsl(185, 42%, 37%);
  --key-shadow--1: hsl(185, 58%, 25%);

  --key-bg--toggle: hsl(6, 63%, 50%);
  --key-bg--toggle-hover: hsl(24, 100%, 61%);

  --key-bg--2: hsl(45, 7%, 89%);
  --key-shadow--2: hsl(35, 11%, 61%);
  --key--hover: hsl(0, 0%, 100%);
  --key--delReset--hover: hsl(187, 41%, 56%);
  --key-equal-shadow-toggle--1: hsl(6, 70%, 34%);
  --key--equal--hover: var(--key-bg--toggle-hover);

  // #### Text
  --txt-color-2: hsl(60, 10%, 19%);
  --txt-color-1: hsl(0, 0%, 100%);
  --txt-equal: hsl(0, 0%, 100%);
  --txt-white: hsl(0, 0%, 100%);
  --txt-btn:  hsl(221, 14%, 31%);
}
.th3 {
  // #### Backgrounds
  --bg-main-screen: hsl(268, 75%, 9%);
  --bg-screen: hsl(268, 71%, 12%);
  --bg-toggle-screen: hsl(268, 71%, 12%);

  // #### Keys
  --key-bg--1: hsl(281, 89%, 26%);
  --key-shadow--1: hsl(285, 91%, 52%);

  --key-bg--toggle: hsl(176, 100%, 44%);
  --key-bg--toggle-hover: hsl(177, 92%, 70%);

  --key-bg--2: hsl(268, 47%, 21%);
  --key-shadow--2: hsl(290, 70%, 36%);
  --key--hover: hsl(265, 49%, 45%);
  --key--delReset--hover: hsl(279, 52%, 45%);
  --key-equal-shadow-toggle--1: hsl(177, 92%, 70%);
  --key--equal--hover: hsl(177, 100%, 78%);

  // #### Text
  --txt-color-2: hsl(52, 100%, 62%);
  --txt-color-1: hsl(198, 20%, 13%);
  --txt-equal: hsl(198, 20%, 13%);
  --txt-white: hsl(0, 0%, 100%);
  --txt-btn: hsl(52, 100%, 62%);
}

// Font weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;

$typo-familles-weight: (
  "light": $fw-light,
  "regular": $fw-regular,
  "medium": $fw-medium,
  "semiBold": $fw-semiBold,
  "bold": $fw-bold,
  "extraBold": $fw-extraBold,
  "black": $fw-black,
);
